
:root {
  --bs-body-font-family: "Raleway", Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* VARIABLES DARK-MODE */

  --blue-50:  #ebf9ff;
  --blue-100: #d1f2ff;
  --blue-200: #aeeaff;
  --blue-300: #76dfff;
  --blue-400: #35caff;
  --blue-500: #07a8ff;
  --blue-600: #0082ff;
  --blue-700: #0069ff;
  --blue-800: #0057d7;
  --blue-900: #00489b;
  --blue-950: #062f65;

  /* VARIABLES LIGHT-MODE */

  --sand-50:  #fdffe5;
  --sand-100: #f8ffbc;
  --sand-200: #f5ff7c;
  --sand-300: #f8ff32;
  --sand-400: #fff800;
  --sand-500: #ffdd00;
  --sand-600: #e1ab00;
  --sand-700: #b37900;
  --sand-800: #9c6400;
  --sand-900: #7c4b07;
  --sand-950: #492700;
}

#root {
  max-width: 1000px;
  min-width: 390px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.dark-mode {
  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--blue-950);
}

.light-mode {
  color-scheme: light;
  color: #213547;
  background-color: #f7dab0;
}

.light-mode, .dark-mode {
  transition: background-color 0.5s ease-in-out, color 0.3s ease-in-out;
}

a {
  font-weight: 500;
  color: var(--blue-400);
  text-decoration: inherit;
}

a:hover {
  color: var(--blue-600);
}

.light-mode .task-list a {
  color: var(--sand-700);
}

.light-mode .task-list a:hover {
  color: var(--sand-900)
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--blue-900);
  cursor: pointer;
  transition: border-color 0.25s;
}

.light-mode button {
  background-color: var(--sand-700);
  color: white
}

button:hover {
  border-color: var(--blue-300);
}

.light-mode button:hover {
  border-color: var(--sand-900);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* BACKGROUND */

.background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  opacity: 1;
  transition: background-image 0s ease-in-out, opacity 0.5s ease-in-out;
}
.background.fade {
  opacity: 0;
}

/* NAVBAR */

.navbar {
  border-radius: 5px;
  margin-top: 0.8rem;
  box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3);
  transition: background-color 0.4s ease-in-out;
  max-height: 55px;
}

@media (max-width: 600px) {
  .navbar-brand {
    flex-direction: column;
    align-items: flex-start !important;
    gap: 20px !important;
    margin-top: 2px;
  }
  .navbar-toggler {
    align-self: flex-start;
  }
  .buttons {
    margin-top: 24px;
  }
}

.navbar-logo {
  margin-left: 0.5rem;
  height: 27px;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

.navbar-logo.hidden {
  opacity: 0;
}

.dropdown {
  padding-right: 1rem;
}

@media (max-width: 992px) {
  .navbar {
    max-height: 220px;
  }

  .navbar-nav .dropdown-menu {
    position: absolute ; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 1050;                
    max-height: 300px;
    overflow-y: auto;  
    flex-direction: column;
    flex-wrap: wrap;
  }

  .dropdown-item {
    text-align: center;
  }

  .rest-button {
    margin-right: 0 !important;
  }
}

.dropdown-toggle,
.navbar-text {
  color: var(--blue-100);
}

.dropdown-toggle:hover {
  color: white;
}

.dropdown-item {
  --bs-dropdown-link-hover-bg: var(--blue-800);
}

.navbar-text {
 padding: 3px;
 width: 111px;
}

.navbar-text strong {
  font-size: 20px;
}

.theme-toggle {
  margin-left: 0.5rem;
  border-radius: 50%;
  border: 1px solid transparent;
  padding: 0 0.2rem;
  font-size: 1.4em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
}

.theme-toggle:hover {
  border-color: var(--blue-400);
}

@media (max-width: 992px) {
  .navbar-text {
    margin: auto;
  }
}

@media (max-width: 992px) {
  .dropdown {
    padding-right: 0;
  }

  .theme-toggle {
    margin-left: 0;
    width: 2.3rem;
    margin: auto;
  }
}

.btn-outline-secondary {
  border-color: var(--blue-700);
  color: var(--blue-200);
}

.btn-outline-secondary:hover {
  background-color: var(--blue-700);
  border-color: #ffffff;
}

/* NAVBAR MODO CLARO*/

.light-mode .navbar-brand {
  color: var(--sand-800);
  font-size: 20px;
  font-weight: 600;
}

.light-mode .navbar-toggler {
  background-color: var(--sand-700);
}

.light-mode .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(253, 255, 229, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}


.light-mode .navbar-toggler:focus {
  box-shadow: 0 0 0 var(--bs-navbar-toggler-focus-width) #ffd6af;
}

.light-mode .navbar {
  box-shadow: 1px 1px 3px rgba(68, 41, 0, 0.3);
}

.light-mode .dropdown-toggle,
.light-mode .navbar-text {
  color: var(--sand-950);
}

.light-mode .dropdown-toggle:hover {
  color: #222;
}

.light-mode .dropdown-item {
  --bs-dropdown-link-hover-bg: var(--sand-700);
  --bs-dropdown-link-active-bg: var(--sand-600);
}

.light-mode .dropdown-item:hover {
  color: var(--sand-50);
}

.light-mode .theme-toggle span {
  filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.6));
}

.light-mode .btn-outline-secondary {
  border-color: var(--sand-800);
  background-color: transparent;
  color: var(--sand-950);
}

.light-mode .btn-outline-secondary:hover {
  background-color: var(--sand-600);
  border-color: var(--sand-900);
  color: #222;
}

/* BUTTONS */

.buttons {
  padding: 1.3rem 0;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}

#add-button,
#clean-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  padding: 0.6rem;
  font-weight: 700;
  border: 1px solid transparent;
  background: linear-gradient(45deg, var(--blue-700), var(--blue-800));
  box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.2);
}

#add-button:hover,
#clean-button:hover {
  border: 1px solid var(--blue-400);
}

.light-mode #add-button,
.light-mode #clean-button {
  background: linear-gradient(45deg, var(--sand-700), var(--sand-800));
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.light-mode #add-button:hover,
.light-mode #clean-button:hover {
  border: 1px solid var(--sand-50);
}

/* LIST */

.light-mode .loading-spinner {
  color: var(--sand-800);
}

.task-list {
  margin-top: -10px;
  padding: 0.1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-collapse: separate !important;
  border-spacing: 0 15px;
  overflow: hidden;
  table-layout: fixed;
  width: 100%;
}

.task-col-tarea {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}

.task-list .col-icon      { width: 5%; text-align: center; }
.task-list .col-orden     { width: 8%; }
.task-list .col-tarea     { width: 31%; }
.task-list .col-categoria { width: 14%; }
.task-list .col-inicio    { width: 10%;}
.task-list .col-fin       { width: 8%; }
.task-list .col-estado    { width: 12%; }
.task-list .col-edicion   { width: 12%; }

/* Responsive */
@media (max-width: 990px) {
  .task-list .col-tarea { width: 27% }
}

@media (max-width: 950px) {
  .task-list .col-icon      { width: 8%; }
  .task-list .col-tarea     { width: 36%; }
  .task-list .col-categoria { width: 20%; }
  .task-list .col-estado    { width: 17%; }
  .task-list .col-edicion   { width: 17%; }
}

@media (max-width: 700px) {
  .drag-icon {
    margin-left: 0 !important;
  }

  .task-list .col-icon      { width: 10%; }
  .task-list .col-tarea     { width: 34%; }
  .task-list .col-categoria { width: 34%; }
  .task-list .col-estado    { width: 28%; }
  .task-list .col-edicion   { width: 6%; color: transparent !important;}

  .task-col-edicion {
    position: absolute;
    height: 46px;
    right: 18px;
    padding-left: 0 !important;
  }

  #sortIcon {
    margin-left: 0 !important;
  }

  .task-list td {
    font-size: 14px;
  }

  .task-list th {
    font-size: 12px;
  }

  .edit-btn {
    display: none;
  }
}

/* TASK */
@media (max-width: 870px) {
  .estado-switch .form-check-label {
    display: none !important;
  }
  .form-check {
    justify-content: center !important;
  }
}

@media (max-width: 950px) {
  .col-inicio,
  .col-fin,
  .task-col-inicio,
  .task-col-fin,
  .col-orden,
  .task-col-orden {
    display: none !important;
  }
}

@media (max-width: 700px) {
  .trash-icon,
  .edit-icon {
    width: 23px;
  }
  .col-orden {
    display: none !important;
  }
  .trash-icon {
    position: relative;
    bottom: 4px;
  }
}

.task-list,
.task-list th,
.task-list td {
  border: none !important;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.task-list tr {
  box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
}

.light-mode .task-list tr {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.light-mode .task-list th {
  color: var(--sand-950);
}

.task-list thead tr,
.task-list tbody tr {
  border: none !important;
  border-radius: 5px;
}

.task-list tbody tr td:first-child,
.task-list thead th:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.task-list tbody tr td:last-child,
.task-list thead th:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}


/* TASK */

.drag-icon {
  height: 30px;
  cursor: grab;
}

.date-span {
  display: block;
}

.taskButtons {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.btn-task {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.3rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
}

.trash-icon,
.edit-icon {
  color: var(--blue-50);
}

button:hover {
  border-color: var(--blue-400);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

tr {
  vertical-align: middle;
}

@media (min-width: 768px) {
  .fixed-width {
    min-width: 150px;
  }
}

.fixed-w {
  min-width: 80px;
}

.form-check {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.form-check-input {
  cursor: pointer;
}

.dragging {
  opacity: 0.5;
  outline: 1px solid var(--blue-600) !important; 
}


.drag-icon {
  cursor: grab;
  color: var(--blue-50);
  width: 30px;
  margin-left: 5px;
}

.drag-icon:focus {
  outline: none;
}

.dragging .drag-icon {
  cursor: grabbing;
}


/* TASK MODO CLARO*/

.light-mode .form-check-input {
  border-color: var(--sand-800);
  background-image: none !important;
  position: relative;
  cursor: pointer;
}

.light-mode .form-check-input::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 2px;
  width: 12px;
  height: 12px;
  background-color: var(--sand-800) !important;
  border-radius: 50%;
  transition: transform 0.2s ease-in-out;
}

@media (max-width: 700px) {
  .light-mode .form-check-input::after {
    top: 1px;
    left: 1px;
    width: 10px;
    height: 10px;
  }
  .light-mode .task-data .form-check-input::after {
    top: 2px;
    left: 3px;
    width: 10px;
    height: 10px;
  }
}

.light-mode .form-check-input:checked::after {
  transform: translateX(14px);
  background-color: #ffffff !important;
}

.light-mode .form-check-input:focus {
  box-shadow: none;
}

.light-mode .form-check-input:checked {
  background-color: var(--sand-700);
}

.light-mode .btn-task {
  background-color: transparent;
}

.light-mode .dragging {
  outline: 1px solid var(--sand-900) !important; 
}

.light-mode .trash-icon,
.light-mode .edit-icon,
.light-mode .drag-icon {
  color: var(--sand-700);
}


/* TASK DETAILS */

.taskDetails-modal .modal-content {
  background: linear-gradient(to bottom, #06162c, var(--blue-950));
  box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
}

.taskDetails-modal .modal-header { 
  padding: 0;
}

.btn-close {
  margin-right: 0.5rem !important;
  filter: invert(1);
}

.modal-header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.task-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0;
  margin-left: 1rem;
}

.nav-arrow {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: transparent;
  padding: 0;
  transition: opacity 0.2s ease;
}

.nav-arrow:disabled {
  opacity: 0.3;
  cursor: default;
}

.arrow-svg {
  color: var(--blue-100)
}

.arrow-svg:hover {
  color: #fff
}

.task-data,
.task-title {
  display: flex;
  justify-content: space-between;
}

.task-title {
  margin-bottom: 0.5rem;
}

.task-title h3 {
  margin-bottom: 0;
  align-self: center;
}

#task-details-edit {
  padding: 0 0.4rem;
  background: linear-gradient(var(--blue-800), var(--blue-600));
  font-size: 15px;
  height: 35px;
}

.task-data .form-check {
  width: 130px;
}

.taskDetails-modal textarea {
  color: #eee;
  resize: none;
  height: 120px !important;
  background: linear-gradient(0deg, var(--blue-800), var(--blue-950));
}

.taskDetails-modal textarea:focus {
  color: #fff;
}

.taskDetails-modal p {
  color: var(--blue-100)
}

.task-dates {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.date-span {
  display: inline-block;
  font-size: 0.95rem;
  color: var(--blue-100);
  background-color: var(--blue-700);
  padding: 0.4rem 0.7rem;
  border-radius: 5px;
  align-self: flex-start;
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.1);
}


/* TASK DETAILS MODO CLARO*/

.light-mode .taskDetails-modal .modal-content {
  background: linear-gradient(to bottom, var(--sand-50), white);
  color: var(--sand-950);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.light-mode .modal-header {
  border-bottom: 1px solid rgba(68, 41, 1, 0.3);
}

.light-mode .date-span {
  background-color: var(--sand-100);
  color: var(--sand-800);
}

.light-mode .nav-arrow {
  background: none;
}

.light-mode .arrow-svg {
  color: var(--sand-950);
}

.light-mode .arrow-svg:hover {
  color: var(--sand-900)
}

.light-mode .btn-close {
  margin-right: 0.5rem !important;
  filter: invert(0);
}

.light-mode #task-details-edit {
  background: linear-gradient(var(--sand-900), var(--sand-700));
}

.light-mode .taskDetails-modal p {
  color: var(--sand-950)
}

.light-mode .task-data .form-check-label {
  font-weight: 500;
}

.light-mode .taskDetails-modal textarea {
  color: #000;
  resize: none;
  height: 120px !important;
  border: 1px solid var(--sand-950);
  background: linear-gradient(0deg, var(--sand-50), white);
}

.light-mode .taskDetails-modal textarea:focus {
  box-shadow:  0 0 0 0.25rem rgba(207, 124, 0, 0.4);
}

.light-mode .date-span {
  background-color: var(--sand-700);
  color: var(--sand-50);
}

/* ADD TASK */

.task-modal {
  z-index: 1050;
}

.form-label {
  padding-right: 10px;
}

.date-inputs {
  display: flex;
  justify-content: space-between;
  margin-top: 1.3rem;
}

.react-datepicker-wrapper {
  width: 160px;
}

.react-datepicker__portal {
  position: fixed !important;
  z-index: 9999 !important;
  left: 0;
  top: 0;
}

.react-datepicker-popper {
  z-index: 2060 !important;
}


.dark-mode .react-select__single-value {
  color: #bbb; 
}

.modal-footer {
  justify-content: space-between;
}

/* ADD TASK MODO CLARO*/

.light-mode .modal-dialog {
  --bs-modal-bg: var(--sand-50);
  color: #222
}

.light-mode .modal-dialog input {
  border: 1px solid var(--sand-800);
}


.light-mode .react-select__single-value {
  color: #555; 
}

.light-mode .form-label {
  color: #000000;
  font-weight: 500;
}

.light-mode .modal-dialog input:focus {
  border-color: var(--sand-900);
  box-shadow:  0 0 0 0.25rem rgba(207, 124, 0, 0.4);
}

.light-mode .react-datepicker__day--selected,
.light-mode .react-datepicker__day--keyboard-selected {
    background-color: var(--sand-700);
    color: white;
}

.light-mode .react-datepicker__day:hover {
    background-color: var(--sand-500);
    color: black;
}

/* Fondo de las flechas (botones) */
.light-mode .react-datepicker__navigation {
  background-color: transparent;
}

/* Flechas */
.light-mode .react-datepicker__navigation-icon::before {
  border-color: var(--sand-700); 
}

.light-mode .react-datepicker__navigation:hover .react-datepicker__navigation-icon::before {
  border-color: var(--sand-900); /* o el color que quieras para el hover */
}

.light-mode .react-datepicker__current-month {
  color: var(--sand-950); /* o el color que quieras */
}

.light-mode ::selection,
.light-mode textarea::selection {
  background-color: var(--sand-900); 
  color: #ffffff;          
}

.light-mode .btn-secondary {
  border: 1px solid transparent;
  color:var(--sand-50);
  background-color: rgb(139, 115, 71);
}

.light-mode .btn-secondary:hover {
  background-color: var(--sand-900);
}

.light-mode .btn-primary {
  border: 1px solid transparent;
  color: var(--sand-50);
  font-weight: 700;
}

.light-mode .btn-primary:hover,
.light-mode .btn-secondary:hover {
  border: 1px solid var(--sand-900);
  background-color: var(--sand-800);

}

/* CATEGORIAS */

.categories {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.cat-grid-container {
  margin-top: 0rem;
}

.category-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  gap: 3rem;
  color: var(--blue-100);
  font-size: larger;
  box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.2);
  background-color: #222;
  border-radius: 5px;
}

#addcategory-button {
  background: linear-gradient(45deg, var(--blue-700), var(--blue-800));
  box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.2);
}

.light-mode #addcategory-button {
  background: linear-gradient(45deg, var(--sand-700), var(--sand-800));
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.light-mode .category-item {
  color: #222
}

.category-actions {
  display: flex;
  gap: 1rem;
}

.category-trash,
.category-edit {
  border-radius: 0px;
  border: 0px solid transparent;
  padding: 0;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.20s ease-in-out, filter 0.25s ease-in-out;
}

.category-trash:hover,
.category-edit:hover {
  border-color: none;
  transform: scale(1.15);
  transition: transform 0.20s ease-in-out;
}

.light-mode .category-item {
  background-color: white;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3)
}

.light-mode .category-trash,
.light-mode .category-edit {
  border: none;
  padding: 0;
  font-size: 1em;
  font-weight: 900;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.20s ease-in-out;
}

.light-mode .category-trash:hover,
.light-mode .category-edit:hover {
  transform: scale(1.15);
  transition: transform 0.20s ease-in-out;
}

/* AGREGAR CATEGORIA */

.addCategory {
  z-index: 2060;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.addCategory .modal-dialog {
  margin-top: 110px;
}

.addCategory .modal-dialog {
  transform: translateY(110px);
  transition: transform 0.3s ease;
}